Follow SOLID principles and idiomatic golang, hexagonal architecture.
This is a production codebase, so always write production-grade code.
Use zerolog with logfmt format for logging key=value
Refer wal-e directory for implementation references 
Use https://github.com/PeerDB-io/peerdb for postgres cdc reading references
https://pkg.go.dev/github.com/aws/aws-sdk-go-v2/service/s3tables for s3 table implementation